
.quarto/preview/lock
.quarto/_freeze/02_data-collection/execute-results/html.json
.quarto/_freeze/03_data-sharing-transfer/execute-results/html.json
.quarto/_freeze/03_data-storage/execute-results/html.json
.quarto/cites/index.json
.quarto/idx/02_data-collection.qmd.json
.quarto/idx/03_data-sharing-transfer.qmd.json
.quarto/idx/03_data-storage-sharing.qmd.json
.quarto/idx/03_data-storage.qmd.json
.quarto/preview/lock
.quarto/xref/1865527a
.quarto/xref/23fb45db
.quarto/xref/436a71c9
.quarto/xref/73f51150
.quarto/xref/98d3eefe
.quarto/xref/9d568bfd
.quarto/xref/cd999291
.quarto/xref/d302b97f
.quarto/xref/e17d0fb7
.quarto/xref/fd0241d5
.quarto/xref/INDEX
.Rproj.user/FFF5DCD5/bibliography-index/biblio-files
.Rproj.user/FFF5DCD5/bibliography-index/biblio.json
.Rproj.user/FFF5DCD5/jobs/270D1E7F-output.json
.Rproj.user/FFF5DCD5/jobs/5D4434F3-output.json
.Rproj.user/FFF5DCD5/sources/prop/83764763
.Rproj.user/FFF5DCD5/sources/prop/92A04040
.Rproj.user/FFF5DCD5/sources/prop/A34FDACD
.Rproj.user/FFF5DCD5/sources/prop/EA3486B4
.Rproj.user/FFF5DCD5/sources/prop/ED008691
.Rproj.user/FFF5DCD5/sources/prop/F8BB1241
.Rproj.user/FFF5DCD5/sources/prop/FAF2362D
.Rproj.user/FFF5DCD5/sources/prop/INDEX
.Rproj.user/FFF5DCD5/sources/session-d26a2192/09721C47
.Rproj.user/FFF5DCD5/sources/session-d26a2192/09721C47-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/10185DA0-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/2A697FC5
.Rproj.user/FFF5DCD5/sources/session-d26a2192/2A697FC5-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/46FF248E
.Rproj.user/FFF5DCD5/sources/session-d26a2192/46FF248E-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/732A356A
.Rproj.user/FFF5DCD5/sources/session-d26a2192/732A356A-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/AB44D206
.Rproj.user/FFF5DCD5/sources/session-d26a2192/AB44D206-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/AEC3A191
.Rproj.user/FFF5DCD5/sources/session-d26a2192/AED1B717
.Rproj.user/FFF5DCD5/sources/session-d26a2192/AED1B717-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/BACFDDE9-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/CC652A15-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/DE3FE651
.Rproj.user/FFF5DCD5/sources/session-d26a2192/DE3FE651-contents
.Rproj.user/FFF5DCD5/sources/session-d26a2192/F3B6AAAA
.Rproj.user/shared/notebooks/130ABAB8-03_data-storage/1/FFF5DCD5d26a2192/chunks.json
.Rproj.user/shared/notebooks/130ABAB8-03_data-storage/1/s/chunks.json
.Rproj.user/shared/notebooks/219052A5-03_data-sharing-transfer/1/FFF5DCD5d26a2192/chunks.json
.Rproj.user/shared/notebooks/219052A5-03_data-sharing-transfer/1/s/chunks.json
.Rproj.user/shared/notebooks/2A200686-02_data-collection/1/s/chunks.json
.Rproj.user/shared/notebooks/C2776B86-02_written-verbal-communication/1/FFF5DCD5d26a2192/chunks.json
.Rproj.user/shared/notebooks/D1143AE8-02_security-privacy-ethics-equity/1/FFF5DCD5d26a2192/chunks.json
.Rproj.user/shared/notebooks/paths
.quarto/_freeze/02_data-collection/execute-results/html.json
.quarto/cites/index.json
.quarto/idx/02_data-collection.qmd.json
.quarto/idx/03_data-storage-sharing.qmd.json
.quarto/preview/lock
.quarto/xref/1865527a
.quarto/xref/23fb45db
.quarto/xref/98d3eefe
.quarto/xref/9d568bfd
.quarto/xref/cd999291
.quarto/xref/d302b97f
.quarto/xref/e17d0fb7
.quarto/xref/fd0241d5
.quarto/xref/INDEX
.Rproj.user/FFF5DCD5/bibliography-index/biblio-files
.Rproj.user/FFF5DCD5/bibliography-index/biblio.json
.Rproj.user/FFF5DCD5/jobs/270D1E7F-output.json
.Rproj.user/FFF5DCD5/sources/prop/83764763
.Rproj.user/FFF5DCD5/sources/prop/92A04040
.Rproj.user/FFF5DCD5/sources/prop/A34FDACD
.Rproj.user/FFF5DCD5/sources/prop/EA3486B4
.Rproj.user/FFF5DCD5/sources/prop/FAF2362D
.Rproj.user/FFF5DCD5/sources/prop/INDEX
.Rproj.user/FFF5DCD5/sources/session-d26a2192/AEC3A191
.Rproj.user/FFF5DCD5/sources/session-d26a2192/F3B6AAAA
.Rproj.user/shared/notebooks/2A200686-02_data-collection/1/s/chunks.json
.Rproj.user/shared/notebooks/C2776B86-02_written-verbal-communication/1/FFF5DCD5d26a2192/chunks.json
.Rproj.user/shared/notebooks/paths
*.json

/.quarto/
